src/wsdl/PushAPIProcessStart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/PushAPIProcessStart/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PushAPIProcessStart" targetNamespace="http://www.example.org/PushAPIProcessStart/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/PushAPIProcessStart/">
      <xsd:element name="start">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="startResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="startRequest">
    <wsdl:part element="tns:start" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="startResponse">
    <wsdl:part element="tns:startResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PushAPIProcessStart">
    <wsdl:operation name="start">
      <wsdl:input message="tns:startRequest"/>
      <wsdl:output message="tns:startResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PushAPIProcessStartSOAP" type="tns:PushAPIProcessStart">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="start">
      <soap:operation soapAction="http://www.example.org/PushAPIProcessStart/start"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushAPIProcessStart">
    <wsdl:port binding="tns:PushAPIProcessStartSOAP" name="PushAPIProcessStartSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
